:root {
	--colorA:	#54A2E4;	--colorF:	#EA8520;	--colorK:	#C32A22;
	--colorB:	#872FCE;	--colorG:	#E85D7A;	--colorL:	#772233;
	--colorC:	#0F561A;	--colorH:	#A00479;	--colorM:	#8A8E90;
	--colorD:	#463BC5;	--colorI:	#764A19;	--colorN:	#C7856C;
	--colorE:	#DF99E1;	--colorJ:	#29C764;
	
	/*
	--colorO:	#54A2E4;
	
	--colorP:	#54A2E4;
	--colorQ:	#54A2E4;
	--colorR:	#54A2E4;
	--colorS:	#54A2E4;
	--colorT:	#54A2E4;
	*/
	--shadow:	#454545;
}

html, body {
	background: #464E59;
	color: #FFF;
	height:100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

a.nav {
	color: #999;
	font-family: "calibri", sans-serif;
	font-size: 2rem;
	font-variant: all-small-caps;
	text-decoration: none;
	text-shadow: 1px 1px 0 #333;

	.fa {
		color: #999;
		font-size: 4rem;
		text-shadow: 0 4px 2px var(--shadow);
	}

	&.prev .fa {
		text-shadow: 0 -4px 2px var(--shadow);
	}
	
	&:not(.solve)[href="#s3"]:before {
		content: attr(data-attempt);
		left: 0;
		margin-top: -1em;
		opacity: .75;
		position: absolute;
		width: 100%;
	}
}
section {
	height: 100%;
	/*background: no-repeat center center url(q.png);*/
    background-size: contain;
	
	> div { 
		backdrop-filter: blur(10px);
		filter: brightness(1.15);
		
		align-items: center;
		display: grid;
		grid-template-rows: 1fr 6fr 1fr;
		height: 100%;
		justify-content: center;

		> div {
			display: flex;
			gap: 20px;
			justify-content: space-around;
			text-align: center;
		}
	}
}

#s1 {
	select {
        border-radius: 10px;		
        color: #454545;
        font-size: 50px;
        text-align: center;
        width: 80px;
	}
	> div > div {
		align-items: end;
	}
}

.vial {
	border: 3px solid #111;
	border-radius: 0 0 99px 99px;
	
	.segment {
		border-top: 1px solid #111;
		height: 30px;
		width: 30px;
		
		&:last-child {
			border-radius: 0 0 99px 99px;
		}
		
		&[data-guess]:after {
			content: "?";
			color: #FFF;
			line-height: 30px;
		}
	}
	
	&.empty .segment,
	&.empty {
        /*background: rgba(150, 150, 150, .1);
		border-color: #111;*/
		opacity: .5;
	}
}

#s3 #solution,
#s2	#colors {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin: auto;
	min-width: 160px;
	max-width: 300px;
}

#solution-nav {
	align-items: center;
	display: grid;
	gap: 30px;
    grid-template-columns: 2fr 1fr 2fr;
	
	button {
		color: #333;
		font-family: "calibri", sans-serif;		
		font-size: 1.5rem;
		font-weight: bold;
		padding: 10px 20px;
		text-transform: uppercase;
		width: 100%;
		@media (min-width: 768px) {
			padding: 10px 50px;
		}

		.fa {
			vertical-align: bottom;
		}
	}
}

dialog[open] {
	border-radius: 20px;
	flex-wrap: wrap;
	max-width: 300px;
	padding: 0;
	
	&::backdrop {
		background-color: rgba(0,0,0,.2);
		backdrop-filter: blur(5px);
	}
	
	&#colorPicker {
		display: flex;
		padding: 1em;
	}
	
	h2 {
		background: #EEE;
		margin: 0;
		padding: 15px 20px 10px 20px;
	}
	.modalBody {
		padding: 0 20px 20px 20px;
	}
	
	.actions {
		text-align: right;
		
		button {
			border: 1px inset rgba(0,0,0,.3);
			border-radius: 5px;
			cursor: pointer;
			margin-left: 10px;
			padding: 4px 10px 3px;
		}
		
		.confirm {
			/*background: rgba(100,200,255,.35);*/
			&:hover {background: rgba(100,200,255,.65);}
		}
		
		.cancel {
			background: rgba(255,100,100,.35);
			&:hover {background: rgba(255,100,100,.65);}
		}
	}
}
dialog.alert {
	.actions button:last-child {
		display: none;
	}
}

dialog .colorBlock {
	height: 60px;
	width: 60px;
	
	&:after {
        color: #fff;
        content: attr(data-count);
        display: grid;
        font-size: x-large;
        justify-content: center;
        line-height: 57px;
        text-shadow: 1px 1px 5px #000;
	}
	
	&[data-node=""] {
		align-content: center;
		background: radial-gradient(#f33 40%, #FC0 120%);
		
		&:before {
			content: "\f014";
			color: #FFF;
			display: block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 40px;
			text-align: center;
			text-shadow: 0 1px 6px #000;			
		}
	}
}
dialog#progress {
	display: block;
	padding: 1em;
	text-align: center;
	
	progress {
		height: 30px;
		margin: 5px 0 -5px 0;
		padding: 8px 0;
		appearance: none;
		direction: rtl;
		
		&::-webkit-progress-value {
			background: rgba(255,255,255,.75);
			border-radius: 0 50px 50px 0;
		}
		&::-webkit-progress-bar {
			background: linear-gradient(to right, forestgreen 35%, gold 60%, gold 65%, darkred);
			border: 1px solid #AAA;
			border-radius: 50px;
		}
		&::-webkit-progress-inner-element {
		}		
	}
	button {
		display: none;
		margin: 10px auto 0 auto;
	}
}

[data-node="A"] { background: var(--colorA); }
[data-node="B"] { background: var(--colorB); }
[data-node="C"] { background: var(--colorC); }
[data-node="D"] { background: var(--colorD); }
[data-node="E"] { background: var(--colorE); }
[data-node="F"] { background: var(--colorF); }
[data-node="G"] { background: var(--colorG); }
[data-node="H"] { background: var(--colorH); }
[data-node="I"] { background: var(--colorI); }
[data-node="J"] { background: var(--colorJ); }
[data-node="K"] { background: var(--colorK); }
[data-node="L"] { background: var(--colorL); }
[data-node="M"] { background: var(--colorM); }
[data-node="N"] { background: var(--colorN); }
[data-node="O"] { background: var(--colorO); }
[data-node="P"] { background: var(--colorP); }
[data-node="Q"] { background: var(--colorQ); }
[data-node="R"] { background: var(--colorR); }
[data-node="S"] { background: var(--colorS); }
[data-node="T"] { background: var(--colorT); }
[data-node="U"] { background: var(--colorU); }
[data-node="V"] { background: var(--colorV); }
[data-node="W"] { background: var(--colorW); }
[data-node="X"] { background: var(--colorX); }
[data-node="Y"] { background: var(--colorY); }
[data-node="Z"] { background: var(--colorZ); }